# DeepSeek API Key
DEEPSEEK_API_KEY=
# 服务端口号
PORT=3000
# PostgreSQL 连接串
DATABASE_URL=

# SiliconFlow API Key
SILICONFLOW_API_KEY=

# SiliconFlow Embedding 模型名
SILICONFLOW_EMBEDDING_MODEL=BAAI/bge-m3

# SiliconFlow Embedding API 地址
SILICONFLOW_EMBEDDING_URL=https://api.siliconflow.cn/v1/embeddings
